//fs = "font stack"
$sans-serif-fs: 'Arsenal', sans-serif;
$monospace-fs: 'Cutive Mono', monospace;
//$cursive-fs: 'Homemade Apple', cursive;

//colors
$black: #161616;
$golden: #c9b023;

$gray1: #2c2b2b;
$gray2: #3a3937;
$gray3: #504f4c;
$gray4: #777671;
$gray5: #acaaa5;
$gray6: #cec9c9;

$white: rgb(248, 245, 238);

//screen widths
$phone-width: 300px;
$tablet-width: 700px;
$desktop-width: 990px;








